<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ base.url }}/static/css/style.css">

    <script src="static/js/last-fm.js" type="text/javascript" async></script>
    <script type="text/javascript" src="http://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=sw1m97&api_key=54f8f15133336606e882fdf20148d123&limit=1&format=json&callback=lfmMostRecentTrack" async></script>

  </head>
