* {
  box-sizing: border-box;
}

html,
body {
  color: rgba(35, 30, 30, 0.9);
  font-family: 'Arimo', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.5;
}

a {
  color: inherit;
}

a:hover {
  color: rgba(35, 30, 30, 0.6);
}

.o4 {
  opacity: 0.4;
}

@media (min-width: 52em) {
  .px3 {
    padding-left: 4em;
    padding-right: 4em;
  }
}