html,
body {
  background-color: black;
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  color: white;
  font-family: 'Nitti Grotesk', 'Anonymous Pro', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
}
main {
  padding: 4rem 0;
  width: 100%;
}
article {
  border: 0.25rem solid white;
  margin: 0 auto;
  padding: 0 2rem;
  width: 70%;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
}
.fa {
  padding-right: 1rem !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* Small screens */
@media screen and (min-width: 40em) {

}
/* Medium screens */
@media screen and (min-width: 52em) {
  article {
      width: 50%;
  }
}
/* Large screens */
@media screen and (min-width: 64em) {

}