{% include header.html %}

<body class="m0">
  <main class="py3 px3 max-width-2">
    <h1>
      <a href="/" class="text-decoration-none">{{ site.title }}</a>
      {% if page.title != site.title %} – {{ page.title }}{% endif %}
      <span id="lfm">
        <img src="{{ base.url }}/static/img/note.svg" class="o2" id="lfm-trigger" href="" target="new">
        <span class="block o4 h4 xs-hide lfm-data">
          <p class="m0">Now Playing: <span id="lfm-artist"></span> – “<span id="lfm-track"></span>”</p>
        </span>
      </span>
    </h1>

    {{ content }}

    {% if page.title != site.title %}<p>&larrlp; <a href="/">Back to the site</a></p>{% endif %}
  </main>
  <script type="text/javascript" src="{{ base.url }}/static/js/background.js"></script>
  <script>
    (function () {
      recolor(0);
      // The last number in this line is the update interval (in ms):
      var a = function() {
        setInterval(function () { recolor(0); }, 100);
      };
      a();
    })();
  </script>
</body>

{% include footer.html %}
