<!DOCTYPE html>

<html lang="en">
  {% include "../header.liquid" %}

  <body class="m0">
    <main class="py3 px3 max-width-2">
    {{ content }}
    </main>

    {% include "footer" %}
  </body>
</html>
